################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TicketingTool/bin/Debug/netcoreapp3.1
/TicketingTool/obj
