@model TicketingTool.Models.Ticket
@{
    ViewBag.Title = "Ticketing tool";
    ViewBag.ActivePage = "create-tickets";
}

<h1>Ticket creation</h1>
<form method="post" action="/Home/CreateTicket">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="inputTicketTitle">Title of the ticket</label>
                <input asp-for="Title" type="text" class="form-control" id="inputTicketTitle" placeholder="Enter title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label for="inputTicketContent">Content of the ticket</label>
                <textarea asp-for="Content" class="form-control" id="inputTicketContent" placeholder="Enter your message" rows="3"></textarea>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <input type="submit" value="Create" />            
            </div>
        </div>
    </div>

</form>

    @section Scripts{
        <script>

        </script>
    }

    @section Styles{
        <style>
            form{
                margin-left:20px;
            }
        </style>
    }
