@{
    ViewBag.Title = "Ticketing tool";
    ViewBag.ActivePage = "liste-tickets";
}

<h1>Tickets list</h1>




@section Scripts{
    <script>

    </script>
}

@section Styles{
    <style>
    </style>
}